In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
df=pd.read_csv("emnist-letters-train.csv")
df.head()

MemoryError: Unable to allocate 8.00 KiB for an array with shape (1024,) and data type int64

In [ ]:
X_train=np.array(df.iloc[:,1:785])
X_train

In [27]:
y_train=np.array(df.iloc[:,0])

In [28]:
def scalematrix(X):
    m = X.shape[0]
    mean = np.mean(X, axis = 0)
    std = np.std(X, axis = 0)
    X_scaled= (X - mean/std)
    return X_scaled
#Logit=loge(p/(1âˆ’p))

In [29]:
def descalematrix(X_original,X):
    n, m = X.shape
    X_descaled=((X*np.std(X_original, axis = 1)+np.mean(X_original, axis = 1))).reshape((n,m))
    return X_descaled

In [70]:
c=np.ones(X_train.shape[0],)
d=c.reshape(X_train.shape[0],1)
d

array([[1.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [1.]])

In [71]:
X=np.concatenate((d,X_train),axis=1)
X

MemoryError: Unable to allocate 535. MiB for an array with shape (88799, 789) and data type float64

In [55]:
X = pd.concat([pd.Series(1, index=df.index, name='00'), df], axis=1)
X.head()

,00,23,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,...,0.406,0.407,0.408,0.409,0.410,0.411,0.412,0.413,0.414,0.415
0,2,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,16,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
sf=pd.read_csv("emnist-letters-test.csv")
sf

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.548,0.549,0.550,0.551,0.552,0.553,0.554,0.555,0.556,0.557
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14794,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14795,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14796,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14797,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14798,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
X_test=np.array(df.iloc[:,1:-1])

In [45]:
y_test=np.array(df.iloc[:,-1])

In [ ]:
#shape of theta=785X26 shape of X=50000X785

In [31]:
def hypothesis(theta,X):
    return 1 / (1 + np.exp(-(np.dot(X, theta))))

In [32]:
def cost_funct(X,y,theta):
    Y1=hypothesis(X,theta)
    return (-1/(X.shape(0)))*np.sum(y*np.log(y1) + (1-y)*np.log(1-y1))

In [33]:
def cost(X, y, theta):
    y1 = hypothesis(X, theta)
    return -(1/len(X)) * np.sum(y*np.log(y1) + (1-y)*np.log(1-y1))

In [34]:
a=np.unique(Y_train)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26], dtype=int64)

In [35]:
y1=np.zeros([df.shape[0],len(a)])
y1=pd.DataFrame(y1)
y1.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
for i in range(0,len(a)):#26
    for j in range(0,len(y1)):#number of examples
        if y_train[j]==a[i]:
            y1.iloc[j,i]=1
        else:y1.iloc[j,i]=0

In [47]:
def grad_descent_update(X,y,theta,alpha,epochs):
    m=len(X)
    for i in range(0,epochs):
        for j in range(0,26):
            theta=pd.DataFrame(theta)
            h=hypothesis(theta.iloc[:,j],X)
            for k in range(0,theta.shape[0]):
                theta.iloc[k,j]-=(alpha/m)*np.sum(h-y.iloc[:,j])*X.iloc[:,k]

In [49]:
theta=np.zeros([df.shape[1]+1,y1.shape[1]])
theta=grad_descent_update(X_train,y1,theta,0.02,100)

ValueError: shapes (786,) and (784,88799) not aligned: 786 (dim 0) != 784 (dim 0)