In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("emnist-letters-train.csv")
print(df.head())

   23  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.406  0.407  0.408  \
0   7  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  16  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  15  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  23  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  17  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.409  0.410  0.411  0.412  0.413  0.414  0.415
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [4]:
sf=pd.read_csv("emnist-letters-test.csv")
sf.head()

,1,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.548,0.549,0.550,0.551,0.552,0.553,0.554,0.555,0.556,0.557
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
X=np.array(df.iloc[1:-1])

In [6]:
Y=np.array(df.iloc[:,0])

In [13]:
number_of_input_layer_neurons=X.shape[1]
number_of_hidden_layer_neurons1=number_of_input_layer_neurons*2
number_of_hidden_layer_neurons2=number_of_input_layer_neurons*2
a=np.unique(Y)
number_of_output_layer_neurons=len(a)

In [14]:
weights_input_Layer=np.random.randn(number_of_input_layer_neurons,number_of_hidden_layer_neurons)
weights_hidden_output1=np.random.randn(number_of_hidden_layer_neurons1,number_of_hidden_layer_neurons2)
weights_hidden_output2=np.random.randn(number_of_hidden_layer_neurons2,number_of_output_layer_neurons)

In [ ]:
weights_input_Layer=

In [ ]:
def scaleMatrix():

In [ ]:
def descaleMatrix():

In [ ]:
#shape of X=m,n+1
#shape of theta=n+1,2(n+1)

In [ ]:
def hypothesis(X,theta):
    z=np.dot(X,theta)
    return z

In [ ]:
def sigmoid(X,theta):
    z=hypothesis(X,theta)
    g=1/(1+np.exp(-z))

In [ ]:
def sigmoid_gradient(z):
    return sigmoid(z)*sigmoid(1-z)

In [15]:
a1=np.insert(X,0,1,axis=1)
a1=a1.T

In [ ]:
z2=np.dot(a1,theta1.transpose)

In [ ]:
a2=sigmoid(z2)

In [ ]:
a2=np.insert(a2,0,1,axis=1)

In [ ]:
z3=np.dot(a2,)